<div class="row">
    <div class="col-md-5">
        <div class="panel panel-orange">
            <div class="panel-body pan bg-grey text-white">
                <div class="profile">
                    <div class="user-info">
                        <div style="margin-bottom: 15px" class="row">
                            <div class="col-xs-7 col-sm-7">
                                <h3 class="mtn text-light-orange">Personal Data</h3>
                                <h4>{{model.lastName}} {{model.firstName}}</h4>

                                <p><strong><span class="text-light-orange">Client ID:</span></strong><br> 
                                <strong>{{model.userId}}</strong></p>

                                <p><strong><span class="text-light-orange"><i class="fa fa-calendar"></i> Date Of Birth:</span> </strong><br> 
                                <strong>{{model.dob}}</strong></p>

                                <p><strong class="mrs"><span class="text-light-orange"><i class="fa fa-phone"></i> Cell Phone:</span> </strong><br> 
                                <strong>{{model.cellPhone}}</strong></p>
                            
                                
                            
                            </div>
                            
                            
                            <div class="col-xs-5 col-sm-5 text-center">
                            <img src="images/profile-img-big.jpg" class="img-responsive-mobile img-round" alt=""/> </div>
                        </div>
                        <div class="row">
                        <div class="col-xs-12">
                            <p><strong class="mrs"><span class="text-orange">Coordinator:</span></strong>
                              <strong>{{model.coordinatorName}}</strong></p>
                            <p class="mtm"><span class="text-orange text-14"><i class="fa fa-calendar"></i></span> Send Email message to {{model.lastName}} {{model.firstName}}
                              </p></div>
                        </div>                            
                    </div>                 
                </div>
            </div>
        </div>
    </div>
<div class="col-md-7">
   <div class="panel panel-orange">
            <div class="panel-header panel-primary">
               <h4 class="mtm mbn plm text-uppercase  text-orange"> <i style="font-size: 17px; margin-top: 2px;"
                                                       class="fa fa-location-arrow text-grey"></i><strong> Location</strong>
                </h4>
            </div>					   
            <div class="panel-body mbxxl">             

               

                  <div class="row mbm">
                    <div class="col-sm-12 text-14 text-orange"><strong><i class="fa fa-map-marker"></i> {{geoObj.Location}}</strong>
                    </div>
                </div>
                <div class="row">
                <div class="col-sm-12">
                    <div #locMapId id="locMapId" style="width:100%;min-width:290px;max-width:100%;height:220px;"></div>
                </div>
                
                </div>
                
              
            
           
            <div class="portlet-footer"></div>
        </div>
    </div>
</div>
</div>
<div class="row">

  <div class="col-md-5">
  <div class="row">
       <div class="col-md-12">
            <div class="panel panel-orange">
            <div class="panel-header panel-primary">
               <h4 class="mtm mbn plm text-uppercase  text-orange"> <i style="font-size: 17px; margin-top: 2px;"
                                                       class="fa fa-list-alt text-grey"></i><strong> Billing Summary/Activate Authorization</strong>
                </h4>
            </div>					
        
            <div class="panel-body">
                <div class="row">
             <div class="col-sm-6"><p>Vaccn: Hourly&nbsp;&nbsp;Expires:11-02-2022</p></div>
                <div class="col-sm-6 text-right small-txt">Authorized signature</div>
                    </div>
                <div class="row">
                     <div class="col-sm-12"><p class="text-orange"><strong>Status</strong></p></div>
                    </div>
                <div class="row">
                    <div class="col-sm-6">
                      <p><strong>Address</strong>:<br>
                        60 chiga abc, USA

                        </p></div>
                    
                    <div class="col-sm-6 text-right small-txt">Authorized signature</div>
                    </div>
            </div>
        </div>
      </div>				  
      
      </div>
        <div class="row">
       <div class="col-md-12">
           <div class="panel panel-orange">
            <div class="panel-header panel-primary">
               <h4 class="mtm mbn plm text-uppercase  text-orange"> 
                <i style="font-size: 17px; margin-top: 2px;" class="fa fa-list-alt text-grey"></i>
                <strong> Most recent complication completed</strong>
                </h4>
                <div class="panel-body">
                    <div class="row" *ngIf="completedCompliance != null">
                        <div class="col-sm-12" *ngFor="let completeditem of completedCompliance" style="color: Light Green;">
                                Completed Compliance Notes :<h5 class="mtn"><strong>{{completeditem.notes}}</strong></h5>
                                Due Date : <span>{{completeditem.dueDate | date}}</span>
                                <hr>
                        </div>
                    </div>            
                    <div class="row" *ngIf="pendingCompliance != null">
                        <div class="col-sm-12" *ngFor="let pendingitem of pendingCompliance">
                            Pending Compliance Notes :<h5 class="mtn"><strong>{{pendingitem.notes}}</strong></h5>
                            Due Date : <span>{{pendingitem.dueDate | date}}</span>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>					
           
            <!-- <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 text-right small-txt">Authorized signature</div>
                </div>
            </div> -->
        </div>
      </div>				  
      
      </div>
       
  </div>
    <div class="col-md-7">
      <app-upcomming [userId]="model.clientId"></app-upcomming>
    </div>
</div>