<div class="row">
    <div class="col-lg-12">
        <h4 class="mtm mbm text-uppercase  text-orange"> <strong>Provisions</strong> </h4>      
      
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
        <div class="row mbm">
            <div class="col-sm-12 text-14">
            </div>
        </div>
        
        <div class="row mtm">
          <div class="col-sm-3 col-xs-6" *ngFor="let item of  ModelLst; let i = index">
              <div class="form-group checkbox-box">
                
      <input *ngIf="item.ProvisionType==1" type="checkbox" class="mrm"  name="item[{{ i }}].IsChecked" [(ngModel)]="item.IsChecked">
      <input *ngIf="item.ProvisionType==2" type="text" class="form-control"  name="item[{{ i }}].Value"[(ngModel)]="item.Value" >
      <label class="control-label"> {{ item.Description }} </label>
              </div>
          </div>
      </div>
  </div>
    </div>
  
  
  <div class="row mtm">

    <div class="col-sm-12 col-xs-12 text-center">
      <button type="button"   (click)="SaveProvisionData()" class="btn btn-lg btn-dark mbn"><i class="fa fa-save"></i> Save Changes </button>
  </div>
    
    </div>
   

    