<div id="wrapper">
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">HHA CLockIn</div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="page-wrapper">
        <div class="page-content"> 
            <div class="panel">
                <div class="panel-body">
                    
                <form class="form" name="clockinForm" #clockinForm="ngForm"
                    (ngSubmit)="clockinForm.form.valid">
                    
                    <div class="row mtm">
                        <div class="text-center" *ngIf="SelectedClient != null && SelectedClient != undefined">
                            <b><span>Meeting Date : </span></b>   
                            {{SelectedClient.meetingDate}}
                       </div><br>
                       <div class="row text-center">
                            <b><span>Shift Time : </span></b>
                           {{SelectedClient.meetingStartTime }} - {{SelectedClient.meetingEndTime}}</div><br>
                       <div class="row text-center">
                            <b><span>Client Name : </span></b>
                           {{SelectedClient.firstName}}  {{SelectedClient.middleName}}  {{SelectedClient.lastName}}</div><br>
                       <div class="row text-center">
                            <b><span>Client Address :</span></b>
                           {{SelectedClient.flatNo}}  {{SelectedClient.address}} 
                           {{SelectedClient.city}} {{SelectedClient.country}}  
                           {{SelectedClient.state}} {{SelectedClient.zipCode}}
                        </div><br>
                        <div class="row text-center"><b>Time now at client's location : </b></div><br>
                        <h2 class="row text-center">{{CurrentDate | date: 'hh:mm:ss'}}</h2><br>
                        <div class="row text-center" style="margin-left: 32%;">
                        <div class="col-lg-3 offset-lg-3  text-center">
                            <div class="form-group">
                                 <button type="submit" class="btn btn-block btn-primary" [disabled]="!IsDisable" (click)="HHAClockIn(1)">Clock In</button>												
                            </div>  
                        </div>
                        <div class="col-lg-3 offset-lg-3 text-center">
                            <div class="form-group">
                                <button type="submit" class="btn btn-block btn-primary" [disabled]="IsDisable" (click)="HHAClockIn(2)">Clock out</button>												
                            </div>
                        </div>
                    </div>
                    <div class="row text-center" *ngIf="IsShow">
                        <label class="validate">{{HHAMessage}}</label>
                    </div>
                </div>	
                </form>	
            </div>
        </div>
    </div>
</div>