<app-loader [show]="IsLoad"></app-loader>

<div class="row">
  <div class="col-lg-12">
      <h4 class="mtm mbm text-uppercase  text-orange"> <strong>Emergency Info</strong> </h4>      
    
  </div>
</div>


<div class="row">

  <div class="col-lg-6">

  <app-emergency-contact [emergInfoTypeId]="1" ></app-emergency-contact>
</div>
<div class="col-lg-6">
  <app-emergency-contact [emergInfoTypeId]="2"></app-emergency-contact> 
  
</div>
</div>
  <div class="panel panel panel-orange">
    <div class="panel-heading">

        
        <div class="row">
            <div class="col-lg-8 col-xs-7">
              Physician
            </div>
            <div class="col-lg-4 col-xs-5 text-right">
              <a (click)="saveChanges(model)" class="btn  btn-xs btn-dark" title="Save Changes" href="javascript:;"><i class="fa fa-save"></i> Save Changes</a>
    
            </div>
          </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-2 col-sm-4"> 
                <div class="form-group">
                    <label class="control-label">First Name<span class="star">*</span></label>
                    <input type="text" required #firstName="ngModel" id="txtfirstName" name="firstName" class="form-control" [(ngModel)]="model.firstName">
                    <em *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" for="txtfirstName" class="invalid">This field is required</em>
      
      
               
                </div>
            </div>
            <div class="col-lg-2 col-sm-4"> 
                <div class="form-group">
                    <label class="control-label">Last Name<span class="star">*</span></label>
                    <input type="text" required #lastName="ngModel" id="txtlastName" name="lastName" class="form-control" [(ngModel)]="model.lastName">
                    <em *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" for="txtlastName" class="invalid">This field is required</em>
      
      
               
                </div>
            </div>
            <div class="col-lg-2 col-sm-4">
                <div class="form-group">
                    <label class="control-label">Title<span class="star">*</span></label>
                    <input type="text" required #title="ngModel" id="txttitle" name="title" class="form-control" [(ngModel)]="model.title">
            
                    <em *ngIf="title.invalid && (title.dirty || title.touched)" for="txttitle" class="invalid">This field is required</em>
      
                </div>
            </div>
         
            <div class="col-lg-2"> 
                <div class="form-group">
                    <label class="control-label">NPI Number</label>
                    <input type="text" #nPINumber="ngModel" id="txtnPINumber" name="nPINumber" class="form-control" [(ngModel)]="model.npiNumber">
                </div>
            </div>

            <div class="col-lg-2">     <div class="form-group">
                <label class="control-label">License</label>
                <input type="text" #license="ngModel" id="txtlicense" name="license" class="form-control" [(ngModel)]="model.license">
            </div></div>


            <div class="col-lg-2">     <div class="form-group">
                <label class="control-label">License Expires</label>
                
                       <div class="input-group">                                    
                        <input required type="text"  id="txtlicenseExpires" name="licenseExpires"
                        placeholder="License Expires" #licenseExpires="ngModel" [(ngModel)]="model.licenseExpires" class="form-control" #licenseExp="bsDatepicker"   bsDatepicker [bsConfig]="{  dateInputFormat: 'DD MMM YYYY', containerClass: 'theme-red' }">                       
                        <div class="input-group-addon" (click)="licenseExp.toggle()" [attr.aria-expanded]="licenseExp.isOpen" ><i class="fa fa-calendar"></i></div>
                    </div>


            </div> </div>
        
        </div>
        <div class="row">


        
            <div class="col-lg-2"> 
                <div class="form-group">
                    <label class="control-label">Address</label>
                    <input type="text" #address="ngModel" id="txtaddress" name="address" class="form-control" [(ngModel)]="model.address">
                </div>
            </div>
                <div class="col-lg-2"> 
                    <div class="form-group">
                        <label class="control-label">City</label>
                        <input type="text" #city="ngModel" id="txtcity" name="city" class="form-control" [(ngModel)]="model.city">
                    </div>
                </div>
                <div class="col-lg-1"> 
                    <div class="form-group">
                        <label class="control-label">State</label>
                        <input type="text" #state="ngModel" id="txtstate" name="state" class="form-control" [(ngModel)]="model.state">
                    </div>
                </div>          
               
        
        
            <div class="col-lg-1"> 
                <div class="form-group">
                    <label class="control-label">Zip</label>
                    <input type="text" #zipCode="ngModel" id="txtzip" name="zipCode" class="form-control" [(ngModel)]="model.zipCode">
                </div>
            </div>
          
            <div class="col-lg-2"> 
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input type="text" #email="ngModel" id="txtemail" name="email" class="form-control" [(ngModel)]="model.email">
                </div>
            </div>
            <div class="col-lg-2"> 
                <div class="form-group">
                    <label class="control-label">Phone</label>
                    <input type="text" #phone="ngModel" id="txtphone" name="phone" class="form-control" [(ngModel)]="model.phone">
                </div>
            </div>
            <div class="col-lg-2"> 
                <div class="form-group">
                    <label class="control-label">Fax</label>
                    <input type="text" #fax="ngModel" id="txtfax" name="fax" class="form-control" [(ngModel)]="model.fax">
                </div>
            </div>
        </div>
        </div>
        </div>
    
  <div class="row">
      <div class="col-sm-12 text-14">
        <a href="javascript:void(0)" (click)="openPopup(template)" class="btn btn-md btn-default"><i class="fa fa-plus-square text-orange mrm"></i>Add Provider </a>
    </div>   
    </div>

    <div class="row mbm">
      <div class="col-sm-12 text-14">
          <ng-template #template class="popup-big">  
            <div class="modal-header">
                

                <h4 class="modal-title pull-left text-orange">Add Provider </h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef?.hide()">  
                <span aria-hidden="true">×</span>  
              </button>  
            </div> 
            <div class="modal-body">
              <app-emergency-provider [proModel]="proModel"></app-emergency-provider> 
          
            </div>  
            
            
            <div class="modal-footer">

                <div class="row" >
                    <div class="col-lg-12 text-center">
                        <button type="button"  (click)="saveChanges(proModel)"
                            class="btn btn-md btn-dark">Save Provider</button>


                            <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">Close</button>
                    </div>
                </div> 



                
           
            
            </div>
              
          </ng-template> 
        </div>   
      </div>
      <!-- *ngIf="modelList.length>0" -->

      <div class="panel panel-orange" *ngFor="let item of modelList;">
        <div class="panel-body" >
            <div class="row" >
                <div class="col-lg-10">
                    <h4 class="text-orange"> <strong> {{item.firstName}} {{item.lastName}} </strong></h4>
                </div>
                <div class="col-lg-2 text-right">
                <a title="Edit" href="javascript:;" (click)="editProvider(item)"><i class="fa fa-edit medium-txt pts mrm"></i></a>
<a title="Delete"  (click)="delProvider(item.entityId)"     href="javascript:;"><i class="fa fa-trash-o text-red medium-txt pts mrm"></i></a>  </div>
            </div>
            <div class="row" >
           
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label mrs">Cell Phone</label>
                        <p><strong>{{item.phone}}</strong></p>
                    </div>                    
                </div> 
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label mrs">Fax</label>
                        <p><strong class="mrs">{{item.fax}}</strong></p>
                    </div>                    
                </div>
                  
             
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label mrs">Email</label>
                        <p><strong>{{item.email}}</strong></p>
                    </div>                    
                </div>   
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label mrs">NPI Number</label>
                        <p><strong>{{item.npiNumber}}</strong></p>
                    </div>                    
                </div> 
                
                
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label mrs">License</label>
                        <p><strong>{{item.license}}</strong></p>
                    </div>                    
                </div> 


     
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label mrs">License Expires</label>
                        <p><strong>


                            {{ item.dateExpires | date :"dd MMM YYYY"}}
                        </strong></p>
                    </div>                    
                </div> 

                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label mrs">Address</label>
                        <p><strong>{{item.address}}

                            {{item.city}}, {{item.state}},
                            {{item.zipCode}}

                        </strong></p>
                    </div>                    
                </div>  

            </div>
        </div>
    </div>




