<app-loader [show]="IsLoad"></app-loader>

<div class="modal-header">
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="panel panel-default" *ngIf="IsEdit">
        <div class="panel-body light-bg-grey">

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <input type="checkbox" class="mrm" name="recurring" (change)="onRecurrence($event)"
                            [(ngModel)]="isRecurrence">
                        <label class="control-label"><strong>Recurrence</strong></label>
                    </div>
                </div>
            </div>
            <div class="row mtm" *ngIf="!isRecurrence">
                <div class="col-xs-12">
                    <div class="form-group"><label class="control-label">Date of Service</label>
                        <div class="input-group">
                            <input required type="text" id="txtMeetingDate" name="MeetingDate"
                                placeholder="Date of Birth" #MeetingDate="ngModel" [(ngModel)]="_meetingDate"
                                class="form-control" #mDate="bsDatepicker" bsDatepicker
                                [bsConfig]="{  dateInputFormat: 'DD MMM YYYY', containerClass: 'theme-red' }">
                            <div class="input-group-addon" (click)="mDate.toggle()" [attr.aria-expanded]="mDate.isOpen">
                                <i class="fa fa-calendar text-orange"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="row mtm" *ngIf="isRecurrence">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group">

                        <label class="control-label">From Date</label>
                        <div class="input-group">
                            <input required type="text" id="txtfromDate" name="fromDate" placeholder="From Date"
                                #fromDate="ngModel" [(ngModel)]="_fromDate" class="form-control" #frmDate="bsDatepicker"
                                bsDatepicker
                                [bsConfig]="{  dateInputFormat: 'DD MMM YYYY', containerClass: 'theme-red' }">
                            <div class="input-group-addon" (click)="frmDate.toggle()"
                                [attr.aria-expanded]="frmDate.isOpen"><i class="fa fa-calendar text-orange"></i></div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">To Date</label>
                        <div class="input-group">
                            <input required type="text" id="txttoDate" name="toDate" placeholder="From Date"
                                #toDate="ngModel" [(ngModel)]="_toDate" class="form-control" #tDate="bsDatepicker"
                                bsDatepicker
                                [bsConfig]="{  dateInputFormat: 'DD MMM YYYY', containerClass: 'theme-red' }">
                            <div class="input-group-addon" (click)="tDate.toggle()" [attr.aria-expanded]="tDate.isOpen">
                                <i class="fa fa-calendar text-orange"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row mtm">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group"><label class="control-label">Time In</label>
                        <timepicker #StartTime="ngModel" id="txtStartTime" name="StartTime" [showSpinners]="true"
                            [(ngModel)]="_startTime"></timepicker>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group"><label class="control-label">Time Out</label>
                        <timepicker #EndTime="ngModel" id="txtEndTime" name="EndTime" [showSpinners]="true"
                            [(ngModel)]="_endTime"></timepicker>
                    </div>
                </div>
            </div>
            <div class="row mtm">
                <div class="col-lg-12">
                    <div class="form-group">
                        <textarea placeholder="Notes" class="form-control" id="txtNotes" name="Notes"
                            placeholder="Notes" [(ngModel)]="_message"></textarea>
                    </div>

                </div>
            </div>
            <div class="row mtm">
                <div class="col-lg-12 text-center">
                    <div class="form-group">
                        <button class="btn btn-lg btn-dark mrm mbm" (click)="reScheduling(bsModalRef)">
                            <i class="fa fa-save mrm"></i>RESCHEDULE</button>
                        <button type="button" class="btn btn-lg btn-primary mrm mbm" (click)="cxlScheduling()">
                            <i class="fa fa-times mrm"></i>CANCEL</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mtm" *ngIf="!IsEdit">
        <div class="col-sm-12 col-xs-12">
            <div class="form-group text-center">
                <h4 class="mtn mbs"><strong> {{momObj?.meetingDate}}</strong></h4>
                <h3 class="text-orange mtn mbs"><strong>{{momObj?.startTime}} - {{momObj?.endTime}}</strong></h3>
                <h3 class="text-orange mtn mbs"><strong>Hourly</strong></h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <div class="panel mbn">
                <div class="panel-body">
                    <p>CLIENT</p>
                    <p><a (click)="scheduling(bsModalRef,9,momObj?.client?.id)">
                            <i class="fa fa-calendar medium-txt mrm"></i></a>
                        <a (click)="profile(bsModalRef,9,momObj?.client?.id)">
                            <i class="fa fa-user medium-txt mrm"></i>
                        </a>
                    </p>
                    <hr class="mtn mbn">
                    <h3 class="text-capitalize"><strong>{{momObj?.client?.lastName}},
                            {{momObj?.client?.firstName}}</strong></h3>
                    <p>
                        <i class="fa fa-map-marker text-orange"></i> {{momObj?.client?.address?.flatNo}},
                        {{momObj?.client?.address?.locationDetail}}, {{momObj?.client?.address?.country}},
                        {{momObj?.client?.address?.state}},
                        {{momObj?.client?.address?.city}},{{momObj?.client?.address?.zipCode}},
                    </p>
                    <p><i class="fa fa-phone text-orange "></i> Phone: (609) 498-0438</p>
                </div>

            </div>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="panel mbn">
                <div class="panel-body">
                    <p>EMPLOYEE</p>
                    <p>
                        <a (click)="scheduling(bsModalRef,8,momObj?.employee?.id)">
                            <i class="fa fa-calendar medium-txt mrm"></i>
                        </a>
                        <a (click)="profile(bsModalRef,8,momObj?.employee?.id)">
                            <i class="fa fa-user medium-txt mrm"></i>
                        </a>
                    </p>
                    <hr class="mtn mbn">
                    <h3 class="text-capitalize"><strong>{{momObj?.employee?.lastName}},
                            {{momObj?.employee?.firstName}}</strong></h3>
                    <p>
                        <i class="fa fa-map-marker text-orange"></i> {{momObj?.employee?.address?.flatNo}},
                        {{momObj?.employee?.address?.locationDetail}}, {{momObj?.employee?.address?.country}},
                        {{momObj?.employee?.address?.state}},
                        {{momObj?.employee?.address?.city}},{{momObj?.employee?.address?.zipCode}},
                    </p>
                    <p><i class="fa fa-phone text-orange "></i> Phone: {{momObj?.employee?.cellPhone}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <hr class="mtn mbn"> -->
    <!-- <div class="row">
        <div class="col-sm-12 col-xs-12">
            <p class="mbn"><i class="fa fa-envelope text-orange"></i> <strong>Send message to Employee</strong></p>
            <p class="small-txt">Message will be sent to . Reply will be sent to coordinator's cellphone.</p>
        </div>
    </div> -->

    <div class="panel" *ngIf="!IsEdit">
        <div class="panel-body light-bg-grey">
            <div class="row">
                <div class="col-sm-10 col-xs-10">
                    <div class="form-group">
                        <textarea placeholder="Notes" class="form-control" id="txtNotes" name="Notes"
                            placeholder="Notes" [(ngModel)]="message"></textarea>
                    </div>
                </div>
                <div class="col-sm-2 col-xs-2">
                    <div class="form-group pbn">
                        <button type="button" class="btn btn-sm btn-dark" (click)="addNote()">
                            <i class="fa fa-save mrm"></i>Post</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-12 col-xs-12 " *ngIf="mNoteList.length>0">
                <a data-toggle="collapse" href="#list" role="button" aria-expanded="false"><i
                        class="fa fa-plus-square text-orange mrm"></i>Notes </a>
                <div class="collapse" id="list">
                    <div class="panel-body">
                        <ol class="plm">
                            <li *ngFor="let obj of momObj?.notes">{{ obj }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mtn mbn">
        <div class="row mbm mtl">
            <div class="col-sm-12 col-xs-12 text-center">
                <button type="button" class="btn btn-sm btn-dark mrm mbm" (click)="editMeeting()">
                    <i class="fa fa-edit"></i>CHANGES</button>
                <button type="button" *ngIf="this.IsCancel" class="btn btn-sm btn-dark mrm mbm"
                    (click)="openModal(template,2)">
                    <i class="fa fa-times"></i>
                    CANCELLED</button>
                <button type="button" *ngIf="this.IsCancel" class="btn btn-sm btn-dark mrm mbm"
                    (click)="openModal(template,3)">
                    <i class="fa fa-times"></i>
                    CANCELLED BY CLIENT</button>
                <button type="button" *ngIf="!this.IsCancel" class="btn btn-sm btn-dark mrm mbm"
                    (click)="onChange(1,momObj?.meetingId)"><i class="fa fa-undo"></i>Restore</button>
                <button type="button" class="btn btn-sm btn-dark mrm mbm"
                    (click)="delScheduling(bsModalRef,momObj?.meetingId)">
                    <i class="fa fa-trash"></i>
                    DELETE</button>
            </div>
        </div>
        <hr class="mtn mbn">
        <div class="row mbm mtl">
            <div class="col-sm-12 col-xs-12 " *ngIf="mlogList.length>0">
                <a class="" data-toggle="collapse" href="#list-2" role="button" aria-expanded="false">
                    <i class="fa fa-history text-orange mrn"></i> History</a>
                <div class="collapse" id="list-2">

                    <div class="panel-body">
                        <ul class="list-icon" style="max-height: 200px;overflow:auto">
                            <li class="smalltxt" *ngFor="let obj of mlogList">
                                {{obj.logNote}} by {{obj.createdBy.lastName +
                                ' ' + obj.createdBy.firstName}} at <b>{{formateDateTime(obj.createdOn)}}</b> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<ng-template #template>
    <div class="modal-header">
        <div class="row mtm">
            <div class="col-sm-8 col-xs-8">
                <p>{{title}}</p>
            </div>
            <div class="col-sm-2 col-xs-2 text-right">
                <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="decline()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
        </div>


    </div>
    <div class="modal-body">
        <form name="frmMStatus" #f="ngForm">
            <!-- <pre>{{f.value | json}} {{f.invalid}}</pre> -->
            <div class="row mtm">

                <div class="col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Add Notes </label>
                        <textarea placeholder="Notes" class="form-control" id="txtconfirmNote" name="confirmNote"
                            [(ngModel)]="confirmNote"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="confirm(this.model.isStatus)">Confirm</button>
        <button type="button" class="btn btn-primary" (click)="decline()">Cancel</button>
    </div>
</ng-template>