<div id="page-wrapper">
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">Patinet Details</div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="container">
        <div class="page-content text-left">
            <div class="row">
                <div class="col-lg-12 text-center" *ngIf="clockinDetails != null && clockinDetails != undefined">
                    <!-- <h1>11:59:00</h1> -->
                    <h1>{{clockinDetails.clockInTime | date: 'hh:mm:ss'}}</h1>
                    <br/>
                    <span>SIGN IN:</span>
                    <!-- <b>11:58 AM on 5/6/2022</b> -->
                    <b>{{clockinDetails.clockInTime | date: 'hh:mm a dd/MM/yyyy'}}</b>
                </div>
            </div>
                <div class="card width93 mt-10">
                    <div class="form-group text-center">
                        <p>CARE PLAN</p>
                        <b>Check off personal tasks performed during the shift and click REGISTER SIGN-OUT</b>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="checkbox" id="BedBath" name="BedBath" value="BedBath">&nbsp;
                            <span for="BedBath"> Bed Bath</span><br>
                            <input type="checkbox" id="SpongeBath" name="SpongeBath" value="SpongeBath">&nbsp;
                            <span for="SpongeBath"> Sponge Bath</span><br>
                            <input type="checkbox" id="Footcare" name="Footcare" value="Footcare">&nbsp;
                            <span for="Footcare"> Foot care</span><br>
                            <input type="checkbox" id="Skincare" name="Skincare" value="Skincare">&nbsp;
                            <span for="Skincare"> Skin care</span><br><br>    
                        </div>
                    </div>
                            <div class="form-group text-center mt-5">
                                <span for="Notes"> Notes</span><br>
                                <div *ngIf="clockinDetails !=  null && clockinDetails != undefined">
                                    <input type="text" class="form-control" id="notes" name="notes" [value]="clockinDetails.notes" />
                                </div>
                                <div *ngIf="clockinDetails ==  null && clockinDetails == undefined">
                                    <input type="text" class="form-control" id="notes" name="notes" [value]="clockinDetails.notes" />
                                </div>
                            </div>
                            <div class="form-group text-center mt-5">
                                <span for="signature"> Signature</span><br>
                            </div>
                            <div class="form-group text-center" *ngIf="ClientList != null && ClientList != undefined">
                                <span for="clienttest">{{ClientName}}</span><br>
                                <input type="text" class="form-control" id="clientname" name="clientname" rows="4">
                            </div><br>
                            <div class="form-group text-center">
                                <span for="clienttest">{{userName}}</span><br>
                                <input type="text" class="form-control" id="HHAUserName" name="HHAUserName" rows="4">
                            </div><br>
                        <div class="row text-center mt-5">
                            <input type="submit" class="btn btn-danger" name="btnsubmit" value="REGISTER SIGN-OUT">
                        </div> <br>                    
                </div>
            
        </div>
    </div>
</div>
