<div class="row">
    <div class="col-lg-12">
        <h4 class="mtm mbm text-uppercase  text-orange"> <strong>Billing</strong> </h4>
    </div>
    <div class="col-sm-12 text-14">
        <a href="javascript:void(0)" (click)="openModal(editBilling)" class="btn btn-md btn-default"><i
                class="fa fa-plus-square text-orange"></i> Add Bill</a>
    </div>
</div>

<h3 style="color: #666; margin-bottom: 10px;font-weight: normal;">Active Authorizations</h3>
<div class="row mtm">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Bill To</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="activeClinetBills">
                        <tr *ngFor="let item of activeClinetBills">
                            <td>{{item?.fromDate | date  }}</td>
                            <td>{{item?.toDate | date}}</td>
                            <td>{{getPayerNmaeFromId(item.payerId )}}</td>
                            <td colspan="2">
                                <button class="btn btn-primary" (click)="updateBilling(item.billingId,item.payerId,editBilling)">Edit</button>
                            </td>
                            <td><i class="fa fa-trash-o text-red medium-txt pts"
                                (click)="deleteBillingData(item.billingId)"></i></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>

<h3 style="color: #666; margin-bottom: 10px;font-weight: normal;">Expired Authorizations</h3>
<div class="row mtm" *ngIf="true">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Bill To</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="expiredClientBills">
                        <tr *ngFor="let item of expiredClientBills">
                            <td>{{item?.fromDate | date  }}</td>
                            <td>{{item?.toDate | date}}</td>
                            <td>{{getPayerNmaeFromId(item.payerId )}}</td>
                            <td colspan="2">
                                <button class="btn btn-primary" (click)="updateBilling(item.billingId,item.payerId,editBilling)">Edit</button>
                            </td>
                            <td><i class="fa fa-trash-o text-red medium-txt pts"
                                (click)="deleteBillingData(item.billingId)"></i></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-dialog-width">
<ng-template #editBilling id="tmp">
    <div class="modal-header">
        <h4 *ngIf="isAddVisible" class="modal-title pull-left text-orange">Add Bill</h4>
        <h4 *ngIf="isUpdateVisible" class="modal-title pull-left text-orange">Edit Bill</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="decline();">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form name="frmclientbill" #f="ngForm" (ngSubmit)="onClickSubmit(f)" novalidate >
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group" [class.state-error]="payer.invalid && (payer.touched || f.submitted)"
                    [class.state-success]="payer.valid">
                        <label class="control-label">Bill To:</label>
                        <select class="form-control"  id="payer" name="payerid" #payer="ngModel" [(ngModel)]="model.payerId"
                        (change)="getNewServiceCode()" required>
                            <option value="0">Select Payer</option>
                            <option *ngFor="let payer of payerItemList" [value]="payer.itemId">
                                {{ payer.itemName }}
                            </option>
                        </select>
                        <em *ngIf="payer.invalid && (payer.touched || f.submitted)"
                        for="payer" class="invalid error">Please select Payer /Bill-To</em>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group" [class.state-error]="contractClientId.invalid && (contractClientId.touched || f.submitted)"
                    [class.state-success]="contractClientId.valid">
                        <label class="control-label">Contract Client ID:</label>
                        <input type="text" name="contractClientId" [(ngModel)]="model.contractClientId"
                            class="form-control" #contractClientId="ngModel" required>
                            <em *ngIf="contractClientId.invalid && (contractClientId.touched || f.submitted)"
                            for="contractClientId" class="invalid error">Please enter client's Authorization Number or Contract Client ID</em>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group" [class.state-error]="authorizationNumber.invalid && (authorizationNumber.touched || f.submitted)"
                    [class.state-success]="authorizationNumber.valid">
                        <label class="control-label">Authorization Number:</label>
                        <input type="text" name="authorizationNumber" [(ngModel)]="model.authorizationNumber"
                            class="form-control" #authorizationNumber="ngModel" required>
                            <em *ngIf="authorizationNumber.invalid && (authorizationNumber.touched || f.submitted)"
                            for="authorizationNumber" class="invalid error">Please enter client's Authorization Number or Contract Client ID</em>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="control-label">From Date:</label>
                        <div class="input-icon right" [class.state-error]="validFrom.invalid && (validFrom.touched || f.submitted)"
                        [class.state-success]="validFrom.valid">
                            <i class="fa fa-calendar" (click)="fromDate.toggle()"></i>
                            <input type="text" id="txtFromDateTime" name="fromDate" [(ngModel)]="model.fromDate"
                                class="form-control" style="background-color: white;" 
                                #fromDate="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY' }" 
                                [readonly]="true" #validFrom="ngModel" [(ngModel)]="model.fromDate" triggers="keydown:click" required>

                                <em *ngIf="validFrom.invalid && (validFrom.touched || f.submitted)"
                                    for="validFrom" class="invalid error"><label>Please enter From date.</label></em>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group" [class.state-error]="validTo.invalid && (validTo.touched || f.submitted)"
                    [class.state-success]="validTo.valid">
                        <label class="control-label">To Date:</label>
                        <div class="input-icon right"><i class="fa fa-calendar" (click)="toDate.toggle()"></i>
                            <input type="text" id="txtToDateTime" name="toDate" [(ngModel)]="model.toDate"
                                class="form-control" style="background-color: white;" 
                                #toDate="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'MM-DD-YYYY' }" 
                                [readonly]="true" #validTo="ngModel" triggers="keydown:click" [(ngModel)]="model.toDate" required>

                                <em *ngIf="validTo.invalid && (validTo.touched || f.submitted)"
                                    for="validTo" class="invalid error"><label>Please enter To date.</label></em>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="text-align: end;margin-right: 50px;">
                    <a href="javascript:void(0)" class="text-orange" (click)="toggleForm()">
                        <i class="fa fa-plus-square-o"></i>&nbsp;&nbsp; {{ byDaysOfWeekToggle ? "By Period/Episode" : "By Days of Week"}}</a>
                </div>
            </div>

            <ng-container *ngIf="byDaysOfWeekToggle">
                <div class="row">
                    <hr>
                    <p class="col-lg-4">By Period/Episode</p>
                    <div class="col-sm-12">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td nowrap="nowrap"></td>
                                    <td class="control-label">Per Week</td>
                                    <td class="control-label">Per Months</td>
                                    <td class="control-label">Entire Period</td>
                                    <td class="control-label">Service Code</td>
                                </tr>
                                <tr >
                                    <td nowrap="nowrap" class="control-label">Units Authorized</td>
                                    <td>
                                        <input type="text" class="form-control" 
                                            id="hoursAuthorizedPerWeek"
                                            name="hoursAuthorizedPerWeek"
                                            [(ngModel)]="model.hoursAuthorizedPerWeek">
                                        </td>
                                    <td>
                                        <input type="text" 
                                        class="form-control" 
                                        id="hoursAuthorizedPerMonth"
                                        name="hoursAuthorizedPerMonth"
                                        [(ngModel)]="model.hoursAuthorizedPerMonth">
                                    </td>
                                    <td>
                                        <input type="text" 
                                        class="form-control" 
                                        id="hoursAuthorizedEntirePeriod"
                                        name="hoursAuthorizedEntirePeriod"
                                        [(ngModel)]="model.hoursAuthorizedEntirePeriod">
                                        </td>
                                    <td>
                                        <select class="form-control" 
                                            id="serviceCode" 
                                            name="serviceCode"
                                            [(ngModel)]="model.serviceCode">
                                            <option value="-1">Select</option>
                                            <option *ngFor="let service of serviceCode" [value]="service.rateId">
                                                {{ service.serviceCode }}
                                            </option>
                                        </select>
                                    </td>
                                </tr>
                                <br>
                                <tr>
                                    <td nowrap="nowrap" class="control-label">Occurances Authorized</td>
                                    <td>
                                        <input type="text"  class="form-control"
                                        id="occurencesAuthorizedPerWeek" 
                                        name="occurencesAuthorizedPerWeek"
                                        [(ngModel)]="model.occurencesAuthorizedPerWeek"
                                        >
                                    </td>
                                    <td>
                                        <input  type="text" class="form-control"
                                        id="occurencesAuthorizedPerMonth" 
                                        name="occurencesAuthorizedPerMonth"
                                        [(ngModel)]="model.occurencesAuthorizedPerMonth"
                                        >
                                    </td>
                                    <td>
                                        <input  type="text" class="form-control"
                                        id="occurencesAuthorizedEntirePeriod" 
                                        name="occurencesAuthorizedEntirePeriod"
                                        [(ngModel)]="model.occurencesAuthorizedEntirePeriod">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="control-label">Notes</label>
                            <textarea rows="2" #periodEpisode_Notes="ngModel" id="periodEpisode_Notes" name="periodEpisode_Notes" [(ngModel)]="model.periodEpisode_Notes"
                                class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="!byDaysOfWeekToggle">
                <div class="row">
                    <hr>
                    <p class="col-lg-4">By Days of Week</p>
                    <div class="col-sm-12">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td nowrap="nowrap"></td>
                                    <td class="control-label">Sat</td>
                                    <td></td>
                                    <td class="control-label">Sun</td>
                                    <td class="control-label">Mon</td>
                                    <td class="control-label">Tue</td>
                                    <td class="control-label">Wed</td>
                                    <td class="control-label">THU</td>
                                    <td class="control-label">FRI</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" class="control-label">Billing Rate / Service Code</td>
                                    <td [class.state-error]="brServiceCode_SAT.invalid && (brServiceCode_SAT.touched || f.submitted)"
                                    [class.state-success]="brServiceCode_SAT.valid">
                                        <select class="form-control" 
                                            id="brServiceCode_SAT" 
                                            name="brServiceCode_SAT" #brServiceCode_SAT="ngModel"
                                            [(ngModel)]="model.brServiceCode_SAT" required>
                                            <option value="-1">Select</option>
                                            <option *ngFor="let service of serviceCode" [value]="service.rateId">
                                                {{ service.serviceCode }}
                                            </option>
                                        </select>
                                        <em *ngIf="brServiceCode_SAT.invalid && (brServiceCode_SAT.touched || f.submitted)"
                                        for="brServiceCode_SAT" class="invalid error">Please select billing rates</em>
                                    </td>
                                    <td></td>
                                    <td>
                                        <select class="form-control"
                                            id="brServiceCode_SUN" 
                                            name="brServiceCode_SUN"
                                            [(ngModel)]="model.brServiceCode_SUN">
                                            <option value="-1">Select</option>
                                            <option *ngFor="let service of serviceCode" [value]="service.rateId">
                                                {{ service.serviceCode }}
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control"
                                        id="brServiceCode_MON" 
                                        name="brServiceCode_MON"
                                        [(ngModel)]="model.brServiceCode_MON">
                                            <option value="-1">Select</option>
                                            <option *ngFor="let service of serviceCode" [value]="service.rateId">
                                                {{ service.serviceCode }}
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control"
                                        id="brServiceCode_TUE" 
                                        name="brServiceCode_TUE"
                                        [(ngModel)]="model.brServiceCode_TUE">
                                            <option value="-1">Select</option>
                                            <option *ngFor="let service of serviceCode" [value]="service.rateId">
                                                {{ service.serviceCode }}
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control"
                                        id="brServiceCode_WED" 
                                        name="brServiceCode_WED"
                                        [(ngModel)]="model.brServiceCode_WED">
                                            <option value="-1">Select</option>
                                            <option *ngFor="let service of serviceCode" [value]="service.rateId">
                                                {{ service.serviceCode }}
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control"
                                        id="brServiceCode_THU" 
                                        name="brServiceCode_THU"
                                        [(ngModel)]="model.brServiceCode_THU">
                                            <option value="-1">Select</option>
                                            <option *ngFor="let service of serviceCode" [value]="service.rateId">
                                                {{ service.serviceCode }}
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control"
                                        id="brServiceCode_FRI" 
                                        name="brServiceCode_FRI"
                                        [(ngModel)]="model.brServiceCode_FRI">
                                            <option value="-1">Select</option>
                                            <option *ngFor="let service of serviceCode" [value]="service.rateId">
                                                {{ service.serviceCode }}
                                            </option>
                                        </select>
                                    </td>
                                </tr>
                                <br>
                                <tr>
                                    <td nowrap="nowrap"></td>
                                    <td class="control-label" style="text-align: center;">H</td>
                                    <td></td>
                                    <td class="control-label" style="text-align: center;">H</td>
                                    <td class="control-label" style="text-align: center;">H</td>
                                    <td class="control-label" style="text-align: center;">H</td>
                                    <td class="control-label" style="text-align: center;">H</td>
                                    <td class="control-label" style="text-align: center;">H</td>
                                    <td class="control-label" style="text-align: center;">H</td>
                                </tr>
                                <tr>
                                    <td nowrap="nowrap" class="control-label">Quantity</td>
                                    <td [class.state-error]="quantity_SAT.invalid && (quantity_SAT.touched || f.submitted)"
                                    [class.state-success]="quantity_SAT.valid">
                                        <input type="text"  
                                        class="form-control" #quantity_SAT="ngModel"
                                        style="text-align: center;"
                                        id="quantity_SAT" name="quantity_SAT"
                                        [(ngModel)]="model.quantity_SAT" required>
                                        <em *ngIf="quantity_SAT.invalid && (quantity_SAT.touched || f.submitted)"
                                        for="quantity_SAT" class="invalid error">Please select billing rates</em>
                                    </td>
                                    <td><a href="javascript:void(0)" (click)="copyQuantity()">
                                        <i class="fa fa-solid fa-copy"></i>Copy over
                                    </a></td>
                                    <td>
                                        
                                        <input type="text"  
                                        class="form-control qty"
                                        style="text-align: center;"
                                        id="quantity_SUN" 
                                        name="quantity_SUN"
                                        [(ngModel)]="model.quantity_SUN"
                                        >
                                    </td>
                                    <td>
                                        <input type="text"  
                                        class="form-control qty"
                                        style="text-align: center;"
                                        id="quantity_MON" 
                                        name="quantity_MON"
                                        [(ngModel)]="model.quantity_MON"
                                        >
                                    </td>
                                    <td>
                                        <input type="text"  
                                        class="form-control qty"
                                        style="text-align: center;"
                                        id="quantity_TUE" 
                                        name="quantity_TUE"
                                        [(ngModel)]="model.quantity_TUE"
                                        >
                                    </td>
                                    <td>
                                        <input type="text"  
                                        class="form-control qty"
                                        style="text-align: center;"
                                        id="quantity_WED" 
                                        name="quantity_WED"
                                        [(ngModel)]="model.quantity_WED"
                                        >
                                    </td>
                                    <td>
                                        <input type="text"  
                                        class="form-control qty"
                                        style="text-align: center;"
                                        id="quantity_THU" 
                                        name="quantity_THU"
                                        [(ngModel)]="model.quantity_THU"
                                        > 
                                    </td>
                                    <td>
                                        <input type="text"  
                                        class="form-control qty"
                                        style="text-align: center;"
                                        id="quantity_FRI" 
                                        name="quantity_FRI"
                                        [(ngModel)]="model.quantity_FRI"
                                        > 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="control-label">Notes</label>
                            <textarea rows="2" #daysOfWeekNotes="ngModel" id="daysOfWeekNotes" name="daysOfWeekNotes" [(ngModel)]="model.daysOfWeekNotes"
                            class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </ng-container>

            <div class="row">
                <div class="col-lg-12 text-center" *ngIf="isAddVisible">
                    <button type="submit" class="btn btn-md btn-dark">Add</button>
                </div>
            </div>
            <div class="row" *ngIf="isUpdateVisible">
                <div class="col-lg-12 text-center">
                    <button type="submit" class="btn btn-md btn-dark">Save Changes</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>
</div>