<app-loader [show]="IsLoad"></app-loader>
<div class="panel panel panel-dark">
    <div class="panel-heading">
      <div class="row">
        <div class="col-lg-8 col-xs-7">
          {{emergInfoTypeId===1?"Primary Contact":"Emergency Contact"}}
        </div>
        <div class="col-lg-4 col-xs-5 text-right">
          <a class="link-white"   title="Save Changes" href="javascript:;" (click)="saveChanges(model)"><i class="fa fa-save"></i></a>

        </div>
      </div>

    </div>
    <div class="panel-body ">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
        <label class="control-label">Name<span class="star">*</span></label>
        <input required type="text" #name="ngModel" id="txtname" name="name" class="form-control"  [(ngModel)]="model.name" >            
        <em *ngIf="name.invalid && (name.dirty || name.touched)" for="txtname" class="invalid">This field is required</em>                 
      </div>
        </div>
        
      
    
        <div class="col-lg-6">
  <div class="form-group">
  <label class="control-label">Relationship</label>
  <input type="text"   #relationship="ngModel" id="txtrelationship"  name="relationship" class="form-control"  [(ngModel)]="model.relationship">
  </div>
  </div>

</div>
<div class="row">


  <div class="col-lg-6">
  <div class="form-group">
  <label class="control-label">Phone</label><br>
  <input type="text" #phone="ngModel" id="txtphone"name="phone" [(ngModel)]="model.phone" class="form-control"  >
  </div>
  </div>
  <div class="col-lg-6">
  <div class="form-group">
  <label class="control-label">Email</label><br>
  <input type="text" #email="ngModel" id="txtemail" name="email" [(ngModel)]="model.email"  class="form-control" >
  </div>
  </div>
  </div>
  
  
  
  </div>
  </div> 