<div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">Billing</div>
        </div>
        <div class="clearfix"></div>
    </div>
<div class="page-content">


    <div class="row">
                        <div class="col-lg-6">
                            <!-- <div class="panel">
                                <div class="panel-body ptn pbn"> -->
                                    <!-- <div class="row"> -->
                                        <div class="col-sm-12"> </div>
                                        <div class="">
                                            <div class="shaded billingbox" style="min-height: 450px;">
                                                <h3 style="color:#4EC0C7">
                                                    Manage Billing</h3>
                                                
                                                    <h4>Invoices</h4>
                                                    <p><a href="javascript:void(0)" routerLink="/billing/generate-invoice">Generate Invoices from Schedules</a></p><p>
                                                    <a href="">Invoices<br><span class="small">Search, View, Adjust, Print, Send to e-Billing or Void</span></a></p>
                                                
                                                           
                                                    <h4>Electronic Claim Remittance</h4> 
                                                       <p><a href="">Electronic Billing Files Generated in 837 Format</a></p>
                                                    <h4>Import Payment/Advice EOP File</h4>    
                                                        <p><a href="">
                                                    Import Explanation of Payment File<br><span class="small">Requires 835 Claim Payment Advice 5010 file format</span></a></p>
                                                    
                                                <h4>Manage Payers &amp; Rates</h4>
                                                <p>
                                                    <a href="">Payers &amp; Rates by Payer</a></p> 
                
                                                <p>
                                                    <a href="">All Active Rates / Service Codes</a></p> 
                                                
                                            </div>

                                        <!-- </div>
                                    </div>                 -->
                                <!-- </div>                 -->
                            </div>                
                        </div>
                        <div class="col-lg-6">
                            <!-- <div class="panel">
                                <div class="panel-body ptn pbn"> -->
                                    <!-- <div class="row"> -->
                                        <div class="col-sm-12"> </div>
                                        <div class="">

                                            <div  class="shaded billingbox2" style="margin-left: 30px; min-height: 450px;">
                                                <br>
                                                <h4>Aggregator</h4> 
                                                <p><a href="">Carebridge Response Files</a></p>
                                                
                                                <h4>Aggregator Responses</h4>
                                                <p><a href="">HHAX Responses</a></p>
                                                  
                                                
                                                <h4>Accounts Receivable</h4>
                                                <p><a href="">Invoices Created</a></p>
                                                <p><a href="">Invoices Billed</a></p>
                                                <p><a href="">Invoices Paid</a></p>
                                                <h4>Other Invoices</h4>
                                                <p><a href="">Invoices Overpaid</a></p>
                                                <p><a href="">Invoices Re-Billed</a></p>
                                                <p><a href="">Invoices On-Hold</a></p>
                                                <p><a href="">Void/Cancelled</a></p>
                                                   
                                            </div>
                                            
                                                    
                                            
                                        </div>
                                    </div>
                
                                </div>
                
                            <!-- </div> -->
                
                        </div>
                    </div> 
                    
                
               
                        
               
    

