<app-loader [show]="IsLoad"></app-loader>
<div class="row">
  <div class="col-lg-12">
    <h4 class="mtm mbm text-uppercase  text-orange"> <strong> Compliance</strong> </h4>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="row mbm">
      <div class="col-sm-12 text-14">
        <a href="javascript:void(0)" (click)="openModal(template)" class="btn btn-md btn-default"><i
            class="fa fa-plus-square text-orange"></i> Add Compliance</a>
      </div>
      <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left text-orange">Add Compliance</h4>
          <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form name="frmIncident" #f="ngForm">
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="control-label">Due Date <span class="star">*</span></label>
                  <div class="input-group">
                    <input required type="text" placeholder="Due Date" class="form-control" id="txtdueDate"
                      name="dueDate" #dueDate="ngModel" [(ngModel)]="model.dueDate" #dDate="bsDatepicker" bsDatepicker
                      [bsConfig]="{ dateInputFormat: 'DD MMM YYYY', containerClass: 'theme-red' }">
                    <div class="input-group-addon" (click)="dDate.toggle()" [attr.aria-expanded]="dDate.isOpen"><i
                        class="fa fa-calendar"></i></div>
                  </div>
                  <em *ngIf="dueDate.invalid && (dueDate.dirty || dueDate.touched)" for="txtdueDate"
                    class="invalid">This field is required</em>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="control-label">Completed On</label>
                  <div class="input-group">
                    <input type="text" placeholder="Completed On" class="form-control" id="txtcompletedOn"
                      name="completedOn" #completedOn="ngModel" [(ngModel)]="model.completedOn" #complTOn="bsDatepicker"
                      bsDatepicker [bsConfig]="{ dateInputFormat: 'DD MMM YYYY', containerClass: 'theme-red' }">
                    <div class="input-group-addon" (click)="complTOn.toggle()" [attr.aria-expanded]="complTOn.isOpen"><i
                        class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="control-label">Nurse</label>
                  <select class="form-control" #nurse="ngModel" id="ddlNurse" name="nurse" [(ngModel)]="model.nurse">
                    <option value="-1" disabled>Select</option>
                    <option *ngFor="let obj of nurseList" [value]="obj.itemId">
                      {{ obj.itemName }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="control-label">Category <span class="star">*</span></label>
                  <select required class="form-control" id="ddlCategory" #category="ngModel" name="category"
                    [(ngModel)]="model.categoryId" (change)="onSelectCategory($event)">
                    <option value="0">Please select</option>
                    <option *ngFor="let obj of categoryList" [value]="obj.itemId">
                      {{ obj.itemName }}
                    </option>
                  </select>
                </div>
                <em *ngIf="category.invalid && (category.dirty || category.touched)" for="ddlCategory"
                  class="invalid">This field is required</em>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="control-label">Code <span class="star">*</span></label>
                  <select required class="form-control" id="ddlCode" #code="ngModel" name="code"
                    [(ngModel)]="model.codeId">
                    <option *ngFor="let obj of subCategoryList" [value]="obj.itemId">
                      {{ obj.itemName }}
                    </option>
                  </select>
                </div>
                <em *ngIf="code.invalid && (code.dirty || code.touched)" for="ddlCode" class="invalid">This field is
                  required</em>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="control-label">Result</label>
                  <input type="text" #result="ngModel" id="txtresult" name="result" [(ngModel)]="model.result"
                    class="form-control">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="control-label">Attach Document</label>
                  <select class="form-control" id="ddldocumentId" name="documentId" #documentId="ngModel"
                    [(ngModel)]="model.documentId">
                    <optgroup *ngFor="let tag of userFileList" [label]="tag.folderName">
                      <option *ngFor="let item of tag.documentList" [value]="item.documentId">
                        {{ item.fileName }}
                      </option>
                    </optgroup>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="control-label">Notes</label>
                  <textarea rows="3" placeholder="Notes" #notes="ngModel" id="txtnotes" name="notes"
                    [(ngModel)]="model.notes" class="form-control"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-center">
                <button type="button" [disabled]="f.invalid" class="btn btn-md btn-dark mbm mts "
                  (click)="saveCompliance()">
                  <i class='fa fa-save'></i> Save Changes
                </button>

              </div>
            </div>

          </form>
        </div>
      </ng-template>
    </div>
    <div class="row mbm" *ngIf="(complianceList?.length || 0)>0">
      <div class="col-sm-12">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Due Date </th>
                <th>Completed Date</th>
                <th>Category</th>
                <th>Code</th>
                <th colspan="2">Notes</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of complianceList;">

                <td> {{item.dueDate | date: 'dd MMM YYYY'}}</td>
                <td> {{item.completedOn | date: 'dd MMM YYYY'}}</td>
                <td> {{ item.category }}</td>
                <td> {{ item.code }}</td>
                <td> {{ item.notes }}</td>
                <td>
                  <a (click)="editItem(item)" title="Edit" href="javascript:;"><i
                      class="fa fa-edit medium-txt pts mrm"></i></a>
                  <a (click)="delItem(item.complianceId)" title="Delete" href="javascript:;"><i
                      class="fa fa-trash-o text-red medium-txt pts mrm"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>