<div id="page-wrapper">
    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">
                Billing and Payroll
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <!--BEGIN CONTENT-->
    <div class="page-content">
        <form #addRateForm="ngForm" (ngSubmit)="onClickSubmit(addRateForm)" novalidate>
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group ptx">
                                <label>Payer</label>
                                <select class="form-control mtm mt-0-mobile" 
                                id="payer" name="payerid" #payer="ngModel" [(ngModel)]="model.payerid">
                                    <option *ngFor="let payer of payerItemList" [value]="payer.itemId">
                                        {{ payer.itemName }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group" [class.state-error]="servicecode.invalid && (servicecode.touched || addRateForm.submitted)"
                            [class.state-success]="servicecode.valid">
                                <label>
                                    Service Code
                                    <p class="small-txt mbn mtn text-black">For your refernce</p>
                                </label>
                                <input type="text" placeholder="" class="form-control"  id="txtServiceCode" 
                                name="serviceCode" #servicecode="ngModel" [(ngModel)]="model.serviceCode" required>
                                <em *ngIf="servicecode.invalid && (servicecode.touched || addRateForm.submitted)"
                                for="servicecode" class="invalid error">
                                <label> Please enter Service Code Service Code is used in Client Billing and Authorizations for your own reference</label></em>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group" [class.state-error]="type.invalid && (type.touched || addRateForm.submitted)"
                            [class.state-success]="type.valid" required>
                                <label>Type</label>
                                <select class="form-control mtm mt-0-mobile"
                                id="txtType" name="type" #type="ngModel" [(ngModel)]="model.type" required>
                                    <option [value]="1">Hourly</option>
                                    <option [value]="2">Daily</option>
                                    <option [value]="3">Visit</option>
                                    <option [value]="4">Travel</option>
                                </select>
                                <em *ngIf="type.invalid && (type.touched || addRateForm.submitted)"
                            for="type" class="invalid error">
                            <label>Please select type</label></em>
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group" [class.state-error]="billCode.invalid && (billCode.touched || addRateForm.submitted)"
                            [class.state-success]="billCode.valid">
                                <label>Bill Code<p class="small-txt mbn mtn text-black">Appears on invoices</p></label>
                                <input type="text" placeholder="" class="form-control"
                                id="txtBillCode" name="billCode" #billCode="ngModel" 
                                [(ngModel)]="model.billCode" required>
                                <em *ngIf="billCode.invalid && (billCode.touched || addRateForm.submitted)"
                                for="billCode" class="invalid error">
                                <label> enter Bill Code. Bill Code is used in invoices</label></em>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Unit</label>
                                <div class="row mtm pts mt-0-mobile">
                                    <div class="col-lg-4 col-xs-4">
                                        <select class="form-control" id="unit" name="unit" #unit="ngModel" 
                                        [(ngModel)]="model.unit">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3 col-xs-3 text-center ptm"><strong>Per</strong></div>
                                    <div class="col-lg-5 col-xs-5">
                                        <select class="form-control" 
                                        id="hourly" name="hourly" #hourly="ngModel" 
                                        [(ngModel)]="model.hourly">
                                            <option value="Hour">Hour</option>
                                            <option value="Day">Day</option>
                                            <option value="Visit">Visit</option>
                                            <option value="Mile">Mile</option>
                                            <option value="Each">Each</option>
                                        </select>
                                        <em *ngIf="hourly.invalid && (hourly.touched || addRateForm.submitted)"
                                            for="hourly" class="invalid error">
                                            <label> Please select unit.</label></em>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Modifiers<p class="small-txt mbn mtn text-black">Appears on invoices</p></label>
                                <div class="row">
                                    <div class="col-lg-3 col-xs-3">
                                        <input type="text" placeholder="" class="form-control"
                                        id="txtModifiler1" name="modifiers1" 
                                        #modifers1="ngModel"  [(ngModel)]="model.modifiers1">
                                    </div>
                                    <div class="col-lg-3 col-xs-3">
                                        <input type="text" placeholder="" class="form-control"
                                        id="txtModifiler2" name="modifiers2" 
                                        #modifers2="ngModel" [(ngModel)]="model.modifiers2">
                                    </div>
                                    <div class="col-lg-3 col-xs-3">
                                        <input type="text" placeholder="" class="form-control"
                                        id="txtModifiler3" name="modifiers3" 
                                        #modifers3="ngModel" [(ngModel)]="model.modifiers3">
                                    </div>
                                    <div class="col-lg-3 col-xs-3">
                                        <input type="text" placeholder="" class="form-control"
                                        id="txtModifiler4" name="modifiers4" #modifers4="ngModel" 
                                        [(ngModel)]="model.modifiers4">
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Effective Dates</label>
                                <div class="row">
                                    <div class="col-lg-6 mbm">
                                        <div class="input-icon right" [class.state-error]="validFrom.invalid && (validFrom.touched || addRateForm.submitted)"
                                        [class.state-success]="validFrom.valid">
                                            <i class="fa fa-calendar" (click)="fromDate.toggle()"></i>
                                            <input type="text" placeholder=""
                                                class="form-control" #fromDate="bsDatepicker"
                                                bsDatepicker [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"         
                                                id="txtvalidFrom" name="validFrom" 
                                                #validFrom="ngModel" [(ngModel)]="model.validFrom" required>
                                                <em *ngIf="validFrom.invalid && (validFrom.touched || addRateForm.submitted)"
                                                for="validFrom" class="invalid error">
                                                <label> enter valid From date.</label></em>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 mbm">
                                        <div class="input-icon right">
                                            <i class="fa fa-calendar"(click)="toDate.toggle()"></i>
                                            <input type="text" placeholder="" class="form-control" bsDatepicker  #toDate="bsDatepicker"
                                            [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                                            id="txtvalidTo" name="validTo" 
                                            #validFrom="ngModel"  [(ngModel)]="model.validTo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label><strong>Revenue Code</strong></label>
                                <input type="text" placeholder="" class="form-control"
                                id="txtRevenueCode" name="revenueCode" 
                                #revenueCode="ngModel" [(ngModel)]="model.revenueCode">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label> Tax Rate <p class="small-txt mbn mtn text-black">Percentage Points </p> </label>
                                <input type="text" placeholder="" class="form-control"
                                id="taxRate" name="taxRate" #taxRate="ngModel" [(ngModel)]="model.taxRate">
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group ptx" [class.state-error]="placeofService.invalid && (placeofService.touched || addRateForm.submitted)"
                            [class.state-success]="placeofService.valid" required>
                                <label>Place of Service</label>
                                <input type="text" placeholder="" class="form-control mtm mt-0-mobile"
                                id="placeofService" name="placeofService" 
                                #placeofService="ngModel" [(ngModel)]="model.placeOfService" required>
                                <em *ngIf="placeofService.invalid && (placeofService.touched || addRateForm.submitted)"
                                for="placeofService" class="invalid error">
                                <label> enter a digit value for the "Place of Service" field.</label></em>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Mutual/Group</label><br>
                                <input type="checkbox" class="mtm mt-0-mobile" id="mutualGroup" name="mutualGroup" 
                                #mutualGroup="ngModel"  [(ngModel)]="model.mutualGroup">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Notes</label>
                                <textarea rows="3" placeholder="Notes" class="form-control"
                                id="txtNotes" name="Notes" #Notes="ngModel" [(ngModel)]="model.notes"></textarea>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <button type="submit" class="btn btn-md btn-dark">Save New Rates</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <!--END CONTENT-->
</div>