<div class="row">
    <div class="col-lg-12">
        <h4 class="mtm mbm text-uppercase  text-orange"> <strong>Status</strong> </h4>
        <!-- <input type="text"
        placeholder="Datepicker"
        class="form-control"
        bsDatepicker #dp="bsDatepicker" > -->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
        <div class="row mbm">
            <div class="col-sm-12 text-14">
                <a href="javascript:void(0)" (click)="openModal(template)" class="btn btn-md btn-default"><i class="fa fa-plus-square text-orange"></i> Add Status</a>
            </div>
          

            <ng-template #template>  
        
                <div class="modal-header">  
                  <h4 class="modal-title pull-left text-orange">Add Status</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef?.hide()">  
                    <span aria-hidden="true">×</span>  
                  </button>  
                </div> 
                <form name="frmStatus" #f="ngForm">
                <div class="modal-body"> 



                  <div class="row">
                    <div class="col-lg-4 col-xs-6">
                      <div class="form-group">
                    <label class="control-label">Activity</label>
                    <select
                    class="form-control"
                    #ActivityId="ngModel"                                   
                    id="ddlTypeStatusId"
                    name="ActivityId"                                   
                    [(ngModel)]="model.activityId"                                       
                  > 
                  <option value="" disabled>Select</option>
                                <option
                                  *ngFor="let obj of ActivityLst"
                                  [value]="obj.itemId"
                                >
                                  {{ obj.itemName }}
                                </option>
                                                  
                        </select>
                        </div>
                    </div>

                    <div class="col-lg-4 col-xs-6">
                      <div class="form-group">
                    <label class="control-label">Effective Date</label>
                      
                           <div class="input-group">
                            <input class="form-control" type="text" id="txtdate"name="date" placeholder="Date"  [(ngModel)]="_effectiveDate"
                              #date="bsDatepicker" bsDatepicker   [bsConfig]="{  dateInputFormat: 'DD MMM YYYY', containerClass: 'theme-red' }">                       
                            <div class="input-group-addon" (click)="date.toggle()" [attr.aria-expanded]="date.isOpen" ><i class="fa fa-calendar"></i></div>
                        </div>   
                      
                      
                      
                      
                      
                      
                      
                          </div>
                    </div>


                    <div class="col-lg-4 col-xs-6">
                      <div class="form-group">
                    <label class="control-label">Referral/D/C Code</label>
                    <select
                    class="form-control"
                    #ReferralCode="ngModel"                                   
                    id="ddlTypeStatusId"
                    name="ReferralCode"                                   
                    [(ngModel)]="model.referralCode"                                       
                  > 
                  <option value="" disabled>Select</option>
                                <option
                                  *ngFor="let obj of ReferralCodeLst"
                                  [value]="obj.itemId"
                                >
                                  {{ obj.itemName }}
                                </option>
                                                  
                        </select>
                        </div>
                    </div>
                    </div>
                    
                  <div class="row">
                
                
                  <div class="col-lg-12">
                      <div class="form-group">
                    <label class="control-label">Note</label>
                    <input type="textarea" #Note="ngModel" id="txtNote"name="Note"
                             [(ngModel)]="model.note" class="form-control">
                    </div>
                      </div>
                    </div>
                    
                           <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                    <label class="control-label">Office User</label>
                    <select
                                class="form-control"
                                #OfficeUserId="ngModel"                                   
                                id="ddlScheduling"
                                name="OfficeUserId"                                   
                                [(ngModel)]="model.officeUserId"                                       
                              > 
                                
                              <option value="-1" disabled>Select Office User</option>
                                <option
                                  *ngFor="let obj of OfficeUserList"
                                  [value]="obj.itemId"
                                >
                                  {{ obj.itemName }}
                                </option>                      
                                    </select>
                        </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="form-group">
                        <label class="control-label">Employee</label>
                        <div class="row">
                        <div class="col-lg-6 col-xs-6 ">
                          <select
                          class="form-control"
                          #OfficeUserReferralID="ngModel"                                   
                          id="ddlOfficeUserId"
                          name="OfficeUserReferralID"                                   
                          [(ngModel)]="model.officeUserReferralID"                                       
                        > 
                        <option value="-1" disabled>Select Employee</option>
                        <option
                         *ngFor="let obj of EmplList"
                         [value]="obj.itemId"
                       >
                         {{ obj.itemName }}
                       </option> 
                                       
                              </select>
                  </div>
                  
                        </div>
                        </div>
                    </div>
                      </div>
                  
                 
                              <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="control-label mrm"><strong>Notify via:</strong></label> 
                        <label class="control-label mrs">Text</label>
                        <input type="checkbox" class="mrm" #text="ngModel" id="txtText"name="text"
                        [(ngModel)]="model.text" >

                        <label class="control-label mrs">Screen</label>
                        <input type="checkbox" class="mrm" #screen="ngModel" id="txtScreen"name="screen"
                        [(ngModel)]="model.screen" >
                        <label class="control-label mrs">Email</label>
                        <input type="checkbox" class="mrm" #email="ngModel" id="txtEmail"name="email"
                        [(ngModel)]="model.email" >
                      </div>
                        </div>
                          </div>
                    <div class="row">
                    <div class="col-lg-12 text-center">
                      <button type="button" (click)="onClickSubmit()" class="btn btn-md btn-dark"><i class="fa fa-save mrm"></i>Save Status</button>
                  
                    </div>
                      </div>
                </div>  
              
                 </form>                
              </ng-template> 

        </div>
        <div class="row mbm" *ngIf="ClientStatusObjList.length>0" >
            <div class="col-sm-12">
                <div class="table-responsive">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Activity	</th>                                   
                                    <th>Date	</th>
                                    <th>Referral/D/C Code	</th>
                                    <th colspan="2">Notes</th>
                                </tr>
                            </thead>
                            <tbody>                              
                                    <tr *ngFor="let item of ClientStatusObjList; let i = index">
                                    <td> 
                                      <label *ngIf="!item.isEdit">{{ item.activityText }}</label>
                                      <div class="form-group" *ngIf="item.isEdit">
                                      <select class="form-control" #ActivityId="ngModel" 
                                      id="ddl_{{ i }}_ActivityId" name="ddl_{{ i }}_ActivityId"  
                                      [(ngModel)]="item.activityId" > 
                                                  <option
                                                    *ngFor="let obj of ActivityLst;let j=index"
                                                    [value]="obj.itemId" 
                                                  >
                                                    {{ obj.itemName }}
                                                  </option>
                                          </select>
                                        </div>
                                    </td>
                                    <td> 
                                      <label *ngIf="!item.isEdit">{{item.statusDate  | date: 'dd MMM YYYY'}}</label>
                                      <div class="form-group" *ngIf="item.isEdit">
                                        <div class="input-group">
                                          <input class="form-control" type="text" id="txt_{{ i }}_statusDate" name="item[{{ i }}].statusDate" [(ngModel)]="item.effectiveDate"
                                           #statusDate="bsDatepicker" bsDatepicker  placeholder="Effective Date"  [bsConfig]="{  dateInputFormat: 'DD MMM YYYY', containerClass: 'theme-red' }">                       
                                 <div class="input-group-addon" (click)="statusDate.toggle()" [attr.aria-expanded]="statusDate.isOpen" ><i class="fa fa-calendar"></i></div> 
                                      </div>
                                      </div>
                                    </td>
                                    <td>

                                      <span *ngIf="!item.isEdit">{{ item.referralCodeText }}</span>
                                      <div class="form-group" *ngIf="item.isEdit">
                                        <select
                                        class="form-control"
                                        #ReferralCode="ngModel"                                   
                                        id="ddl_{{ i }}_ReferralCode"
                                        name="ddl_{{ i }}_ReferralCode"                                   
                                        [(ngModel)]="item.referralCode" 
                                   
                                      > 
                                
                                                    <option
                                                      *ngFor="let obj of ReferralCodeLst"
                                                      [value]="obj.itemId"
                                                    >
                                                      {{ obj.itemName }}
                                                    </option>
                                            </select>                                    
                                      
                     
                                      </div>


                                    </td>
                                    <td>

                                      <label *ngIf="!item.isEdit">{{ item.note }}</label>
                                      <div class="form-group" *ngIf="item.isEdit">
                                        <input id="txt_{{ i }}_Note" name="item[{{ i }}].Note"  [(ngModel)]="item.note" placeholder="Note" type="textarea" class="form-control" >                    
                                        </div>

                                    </td>

                                      <td>
                                      <a *ngIf="!item.isEdit" title="Edit" href="javascript:;" (click)="editStatus(item,i)">
                                         <i class="fa fa-edit medium-txt mrm"></i>
                                     </a> 
                                     <a *ngIf="!item.isEdit" title="Delete" href="javascript:;" (click)="delStatus(item.statusId)">
                                       <i class="fa fa-trash-o medium-txt"></i>
                                     </a>            
                                     
                                     <a *ngIf="item.isEdit" title="Update" href="javascript:;" (click)="updateStatus(item)">
                                       <i class="fa fa-save medium-txt mrm"></i>
                                   </a>  
                                 
                                   <a *ngIf="item.isEdit" title="Cancel" href="javascript:;" (click)="cancelStatus(i)">
                                     <i class="fa fa-times medium-txt mrm"></i>
                                 </a>  
                                    
                                     </td>
                                    </tr>
                               

                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
  </div>
  