<app-loader [show]="IsLoad"></app-loader>
<div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">Schedule</div>
        </div>     
    <div class="clearfix"></div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <!--BEGIN CONTENT-->
    <div class="page-content">
      <!-- <pre>{{f.value | json}} {{f.invalid}}</pre> -->
      <form name="frmMom" #f="ngForm">

        <div class="panel">       
        <div class="panel-body">
          <div class="row mtm">
            <div class="col-sm-6 col-xs-12">
              <!-- <h2 class="mbn">Awie, Mentee, HHA</h2> -->
       
              <h3 class="text-orange">{{ model.meetingDate | date :"EEEE, MMMM d, y"}} {{_startTime | date:'h:mm a'}} - {{_endTime | date:'h:mm a'}}</h3>
              <h4><strong>Date of Service :   {{model.meetingDate | date :"dd MMM YYYY"}}</strong>
              
   

              </h4>    
       
           
            </div>

            <div class="col-sm-6 col-xs-12 mtxl mt-0-mobile">
              <div class="form-group">
                <input type="checkbox"   class="mrm"  name="recurring" (change)="onChange($event)"    [(ngModel)]="isRecurrence"  >
                <label class="control-label">Recurring</label>
            </div>
            </div>
          
          </div>
          <div class="row mtm">
        
            <div class="col-sm-3 col-xs-12" *ngIf="isRecurrence">
                <div class="form-group">

                    <label class="control-label">From Date</label>
                    <div class="input-icon right desktop-ptl"><i class="fa fa-calendar"></i>
                    <input type="text"
                      #fromDate="ngModel"
                      id="txtfromDate"
                      name="fromDate"
                      placeholder="From Date"
                      [(ngModel)]="_fromDate"
                      class="form-control"
                      bsDatepicker    [bsConfig]="{ dateInputFormat: 'DD MMM YYYY' }" >
                </div>
            </div>
                <!-- {{_meetingDate}} -->
            </div>
                  

            <div class="col-sm-3 col-xs-12" *ngIf="isRecurrence">
                <div class="form-group">

                    <label class="control-label">To Date</label>
          <div class="input-icon right desktop-ptl"><i class="fa fa-calendar"></i>
                    <input type="text"
                      #toDate="ngModel"
                      id="txttoDate"
                      name="toDate"
                      placeholder="To Date"
                      [(ngModel)]="_toDate"
                      class="form-control"
                      bsDatepicker    [bsConfig]="{ dateInputFormat: 'DD MMM YYYY' }" >
                </div>
            </div>
                <!-- {{_meetingDate}} -->
            </div>
                  
       
            <div class="col-sm-2 col-xs-12">
                <div class="form-group"><label class="control-label">Time In</label>
                    <timepicker
                    #StartTime="ngModel"
                  id="txtStartTime"
                  name="StartTime"
                  (ngModelChange)="changed()" 
                    [(ngModel)]="_startTime" ></timepicker>
                </div>
                <!-- {{_startTime}} -->
            </div>        
                <div class="col-sm-2 col-xs-12">
                    <div class="form-group"><label class="control-label">Time Out</label>
                        <timepicker 
                        #EndTime="ngModel"
                  id="txtEndTime"
                  name="EndTime"
                  [min]="_startTime"
                        [(ngModel)]="_endTime"  
                        (ngModelChange)="changed()" 
                        ></timepicker>
                    </div>
                </div>
                    <div class="col-sm-2 col-xs-12 mtxl text-center mt-0-mobile">
                        <div class="form-group">                                   
                            <h3 class="text-orange"> <strong>{{timespan}}</strong></h3>
                        </div>
                    </div>
                </div>
                <div class="row mtm">
                    <div class="col-sm-6 col-xs-12">  
                        <div class="form-group"><label class="control-label">Meeting Note </label>                               
                            <textarea placeholder="Notes" 
                            class="form-control" 
                            id="txtMeetingNote"
                            name="MeetingNote"                             
                            [(ngModel)]="model.meetingNote"                                  
                            ></textarea>
                      </div>
              </div>
                </div>
          <div class="row mtm">

            <div class="col-lg-12">
              <button class="btn btn-lg btn-primary"  (click) = "OnScheduling()">SCHEDULE</button>
            </div>
          </div>

            </div>
           
           
        </div>
        <div class="row mtm">
          <div class="col-sm-6 col-xs-12">
                <div class="panel">
                  <div class="panel-body">		
                     <div class="col-sm-6 col-xs-12">  
                         <div class="form-group"><label class="control-label">Client</label>                                     
                                     <select class="form-control"
                                     #ClientId="ngModel"
                                     id="ddlClientId"
                                     name="ClientId"  
                                     [(ngModel)]="model.clientId"    
                                     [disabled]="isClient"                                    
                                   >
                                     <option value="-1" disabled>Select</option>
                                     <option
                                       *ngFor="let obj of ClientList"
                                       [value]="obj.itemId"
                                     >
                                       {{ obj.itemName }}
                                     </option> 
                                   </select>

                                   <em
                                   *ngIf="
                                   ClientId.invalid &&(model.clientId===-1)&&
                                     (ClientId.dirty || ClientId.touched)
                                   "
                                   for="ddlClientId"
                                   class="invalid"
                                   >This field is required</em
                                 >                                          
                       </div>
               </div>
                             </div>            
          </div>
          </div>
          <div class="col-sm-6 col-xs-12">
             <div class="panel">
               <div class="panel-body">		
                  <div class="col-sm-6 col-xs-12">  
                      <div class="form-group"><label class="control-label">Employee</label>                                     
                                  <select
                                  class="form-control"
                                  #EmpId="ngModel"
                                  id="ddlEmpId"
                                  name="EmpId"  
                                  [(ngModel)]="model.empId"  
                                  [disabled]="!isClient"                                      
                                >
                                  <option value="-1" disabled>Select</option>
                                   <option
                                    *ngFor="let obj of EmplList"
                                    [value]="obj.itemId"
                                  >
                                    {{ obj.itemName }}
                                  </option> 
                                </select>

                                <em
                                *ngIf="
                                EmpId.invalid &&
                                  (EmpId.dirty || EmpId.touched)
                                "
                                for="ddlEmpId"
                                class="invalid"
                                >This field is required</em
                              >


                                
                    </div>
            </div>
                          </div>
  
       </div>
       </div>

    </div> 
      </form>
            <div class="row mtm">
                 <div class="col-sm-12 col-xs-12">
                     <p><a  ><i class="fa fa-plus-square"></i> BILLING/PAYROLL</a></p>
                      <p><a  ><i class="fa fa-plus-square"></i> ADDITIONAL ITEMS / CPT</a></p>
                      <p><a  ><i class="fa fa-plus-square"></i> REQUIRED FORMS</a></p>
                        </div>
                    </div> 
        </div>
</div>

