::ng-deep .fade {
    opacity: 1;
    padding-top: 235px;
}

.modal {
    position: fixed;
    top: 150px !important;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modifiercls{
    width: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.mt10{
    margin-top: 10px;
}
