<div class="row">
    <div class="col-lg-12">
        <h4 class="mtm mbm text-uppercase  text-orange"> <strong>Compliance</strong> </h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="row mbm">
            <div class="col-sm-12 text-14">
                <a href="javascript:void(0)" (click)="openModal(templatecompliance)" class="btn btn-md btn-default"><i
                        class="fa fa-plus-square text-orange"></i> Add Compliance</a>
            </div>
            <ng-template #templatecompliance>
                <div class="modal-header">
                    <h4 class="modal-title pull-left text-orange">Add Compliance</h4>
                    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="decline();">
                        <span aria-hidden="true" class="visually-hidden">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="frmclientcompliance" #f="ngForm">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="control-label">Due Date:</label>
                                    <div class="input-icon right"><i class="fa fa-calendar"></i>
                                        <input type="text" #dueDateTime="ngModel" id="txtDueDateTime" name="dueDateTime"
                                            [(ngModel)]="model.dueDate" class="form-control" bsDatepicker
                                            [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="control-label">Completed On:/Time</label>
                                    <div class="input-icon right"><i class="fa fa-calendar"></i>
                                        <input type="text" #completedonDateTime="ngModel" id="txtcompletedOnDateTime"
                                            name="completedonDateTime" [(ngModel)]="model.completedOn"
                                            class="form-control" bsDatepicker
                                            [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="control-label">Category</label>
                                    <select class="form-control" #categoryId="ngModel" id="ddlCategoryId"
                                        name="categoryId" [(ngModel)]="model.category" (change)="onCategoryChange($event);">
                                        <option value="-1" disabled>Select</option>
                                        <option *ngFor="let obj of category" [value]="obj.itemId">
                                            {{ obj.itemName }}
                                        </option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Attach File</label>
                                    <select class="form-control" #attachfileId="ngModel" id="ddlattachfileId"
                                        name="attachfile" [(ngModel)]="model.attachFile">
                                        <option value="-1" disabled>Select</option>
                                        <option *ngFor="let obj of folders" [value]="obj.folderId">
                                            {{ obj.folderName }}
                                        </option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-lg-6">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group" [hidden]="!isSubCategory">
                                    <label class="control-label">Sub Category</label>
                                    <select class="form-control" #subcategoryId="ngModel" id="ddlSubCategoryId"
                                        name="subcategoryId" [(ngModel)]="model.subCategory">
                                        <option value="-1" disabled>Select</option>
                                        <option *ngFor="let obj of subCategory" [value]="obj.itemId">
                                            {{ obj.itemName }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group"  [hidden]="!isScreenDate">
                                    <label class="control-label">Screen Date:/Time</label>
                                    <div class="input-icon right"><i class="fa fa-calendar"></i>
                                        <input type="text" #screenDateTime="ngModel" id="txtscreenDateTimeDateTime"
                                            name="screenDateTime" [(ngModel)]="model.screenDate" class="form-control"
                                            bsDatepicker [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group"  [hidden]="!isSignedDate">
                                    <label class="control-label">Signed Date:/Time</label>
                                    <div class="input-icon right"><i class="fa fa-calendar"></i>
                                        <input type="text" #signDateTime="ngModel" id="txtsignDateTimeDateTime"
                                            name="signDateTime" [(ngModel)]="model.signedDate" class="form-control"
                                            bsDatepicker [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row"  [hidden]="!isMdOrderDate">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="control-label">MD Order From Date:</label>
                                    <div class="input-icon right"><i class="fa fa-calendar"></i>
                                        <input type="text" #mdFDate="ngModel" id="txtmdfDate" name="mdFDate"
                                            [(ngModel)]="model.mDOrderFdate" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="control-label">MD Order End Date:</label>
                                    <div class="input-icon right"><i class="fa fa-calendar"></i>
                                        <input type="text" #mdEDate="ngModel" id="txtmdeDate" name="mdEDate"
                                            [(ngModel)]="model.mDOrderEDate" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }">
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="control-label">Is Received: </label>
                                    <div>
                                        <input type="checkbox" #isReceived="ngModel" id="txtisReceived"
                                            name="isReceived" [(ngModel)]="model.isReceived">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="control-label">Notify</label>
                                    <select class="form-control" #empId="ngModel" id="ddlempId" name="empId"
                                        [(ngModel)]="model.empId">
                                        <option value="-1" disabled>Select</option>
                                        <option *ngFor="let usr of empList" [value]="usr.itemId">
                                            {{ usr.itemName }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="control-label">Office User</label>
                                    <select class="form-control" #officeUserId="ngModel" id="ddlClientId"
                                        name="officeUserId" [(ngModel)]="model.officeUserId">
                                        <option value="-1" disabled>Select</option>
                                        <option *ngFor="let usr of empList" [value]="usr.itemId">
                                            {{ usr.itemName }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Notes</label>
                                    <textarea rows="2" #notes="ngModel" id="txtnotes" name="notes"
                                        [(ngModel)]="model.notes" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="control-label">Notify Via: </label>
                                    <div>
                                        <input type="checkbox" #isText="ngModel" id="txtisText" name="isText"
                                            [(ngModel)]="model.isNotifyViaText">
                                        <label class="control-label">Text </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="control-label">Is Received: </label>
                                    <div>
                                        <input type="checkbox" #isScreen="ngModel" id="txtisScreen" name="isScreen"
                                            [(ngModel)]="model.isNotifyViaScreen">
                                        <label class="control-label">Screen </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="control-label">Is Received: </label>
                                    <div>
                                        <input type="checkbox" #isEmail="ngModel" id="txtisEmail" name="isEmail"
                                            [(ngModel)]="model.isNotifyViaEmail">
                                        <label class="control-label">Email </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label">Status</label>
                                    <select class="form-control" #statusId="ngModel" id="ddlstatusId" name="statusId"
                                        [(ngModel)]="model.status">
                                        <option value="-1" disabled>Select</option>
                                        <option value="Pending">Pending</option>
                                        <option value="Needs Review">Needs Review</option>
                                        <option value="Needs Corrections">Needs Corrections</option>
                                        <option value="Ready to Process">Ready to Process</option>
                                        <option value="Sent to Third Party">Sent to Third Party</option>
                                        <option value="Cancelled">Canclled</option>
                                        <option value="Completed">Completed</option>

                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="row" *ngIf="isAddVisible">
                            <div class="col-lg-12 text-center">
                                <button type="button" (click)="saveCompliance();"
                                    class="btn btn-md btn-dark">Add</button>
                            </div>
                        </div>
                        <div class="row" *ngIf="isUpdateVisible">
                            <div class="col-lg-12 text-center">
                                <button type="button" (click)="updateCompliance();"
                                    class="btn btn-md btn-dark">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </ng-template>
        </div>
        <div class="row mbm">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Due Date </th>
                                <th>Category</th>
                                <th>SubCategory</th>
                                <th>File</th>
                                <th>Employee</th>
                                <th>Status</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of ClientCompObjList;">
                                <td>{{ item.dueDate }}</td>
                                <td>{{ item.category }}</td>
                                <td>{{ item.subCategory }}</td>
                                <td>{{ item.attachFile }}</td>
                                <td>{{ item.empId }}</td>
                                <td>{{ item.status }}</td>
                                <td><i class="fa fa-edit text-red medium-txt pts"
                                        (click)="updateComplianceRecord(item.clientComplianceId)"></i></td>
                                <td><i class="fa fa-trash-o text-red medium-txt pts"
                                        (click)="deleteComplianceRecord(item.clientComplianceId)"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>