<div id="page-wrapper">

    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">Compliance Category</div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <!--BEGIN CONTENT-->
    <div class="page-content">
        <div class="panel mbn">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Category Name</label>
                            <input required type="text" placeholder="Category Name" class="form-control"
                                id="txtCategoryName" name="categoryName" #categoryName="ngModel"
                                [(ngModel)]="model.categoryName">
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="form-group"><label class="control-label">Parent </label>
                            <select class="form-control" id="ddlCategory" name="paretntCategory"
                                [(ngModel)]="model.parentId">
                                <option value="0">Please select</option>
                                <option *ngFor="let obj of categoryList" [value]="obj.categoryId">
                                    {{ obj.categoryName }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12 mtm ">
                        <div class="form-group text-center">
                            <button type="button" class="btn btn-md btn-dark mbm mts " (click)="saveCategpryModel()">
                                <i class='fa fa-save'></i> Save Category
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mbm" *ngIf="categoryList.length>0">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Category Name </th>
                                <th>Parent Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of parentList;">
                                <td>{{item.categoryName}}</td>
                                <td>{{item.parentName}}</td>

                                <td>
                                    <a (click)="editItem(item)" title="Edit" href="javascript:;"><i class="fa fa-edit medium-txt pts mrm"></i></a>
                                    <a (click)="delItem(item.categoryId)" title="Delete" href="javascript:;"><i class="fa fa-trash-o text-red medium-txt pts mrm"></i></a>  
                            
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>